<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="IntegerNet\SansecWatch\Service\PolicyUpdater">
        <arguments>
            <argument name="clock" xsi:type="object">Symfony\Component\Clock\Clock</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="integer-net_sansec-watch_update" xsi:type="object">IntegerNet\SansecWatch\Console\Command\SansecWatchUpdateCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="sansec" xsi:type="object" sortOrder="1000">IntegerNet\SansecWatch\Model\SansecPolicyCollector\Proxy</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="integerNetSansecWatchLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/integernet_sansecwatch.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="integerNetSansecWatchLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">integerNetSansecWatchLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="IntegerNet\SansecWatch\Cron\UpdatePolicies">
        <arguments>
            <argument name="logger" xsi:type="object">integerNetSansecWatchLogger</argument>
        </arguments>
    </type>
</config>
